<html py:strip="">
<title>Flaskr</title>
<link rel="stylesheet" type="text/css" href="${url_for('static', filename='style.css')}" />
<div class="page">
  <h1>Flaskr</h1>
  <div py:with="logged = session.get('logged_in')" class="metanav">
    <a py:if="logged is None" href="${url_for('login')}">log in</a>
    <a py:if="logged" href="${url_for('logout')}">log out</a>
  </div>
  <div py:for="message in get_flashed_messages()" class="flash">${message}</div>
  <py:block name="body"></py:block>
</div>
</html>
